.suggest {
        height: 499px;
        background: url(/images/suggest-bg.png) center no-repeat;

    &__header {
        padding-top: calc(var(--section-padding-y) * 2);
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 35px;
    }

    &__title {
        max-width: 350px;
        text-align: center;
        text-transform: none;
        line-height: 1.2;
        letter-spacing: 0.01em;

        @include fluid-text(30, 22);
    }

    &-signup {
        margin-top: -2px;
        background-color: var(--color-dark-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 70px;

        @include mobile {
            padding-top: 20px;
            flex-direction: column;
        }

        &__title {
            text-transform: none;
            font-size: 22px;
            color: var(--color-light);
            letter-spacing: 0.04em;
        }
    }
}